{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% for item in mypitch %}
            {{item.pitch}}
            {% endfor %}
        </div>
        <div class="col-md-8" style="background-color: aquamarine;">
            
            <div>
                <h3>profile details</h3>
            {{user.username}}
            {{user.email}}
            {{user.password}}
            </div>
            <div>
                <a href="{{url_for('pitchForm')}}">add pitch</a>
                <button action='{{url_for('pitch')}}' type="submit">record pitch</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}